<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<title>OneKeyAdmin后台管理系统</title>
<link rel="icon" href="/upload/favicon.ico"> 
<link rel="stylesheet" type="text/css" href="/admin/css/element.min.css?v={:config('app.version')}">
<link rel="stylesheet" type="text/css" href="/admin/css/onekey.min.css?v={:config('app.version')}">
<script type="text/javascript" src="/admin/js/jquery.min.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/vue.min.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/element.min.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/sortable.min.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/vuedraggable.min.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/common.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/component.js?v={:config('app.version')}"></script>
<script type="text/javascript" src="/admin/js/nprogress.js?v={:config('app.version')}"></script>
</head>
<body>