<el-tabs v-model="set">
    <el-tab-pane name="form" label="新增字段">
        <draggable class="add-draggable" v-model="field" v-bind="addDraggable" :clone="addField">
            <div v-for="(item, index) in field" class="el-curd-field-move-item">
                <i class="iconfont" :class="item.icon"></i>
                <div class="title">{{item.title}}</div>
            </div>
        </draggable>
    </el-tab-pane>
    <el-tab-pane name="table" label="基础信息">
        <el-form 
            ref="drawerData" 
            label-width="140px"
            :model="drawerData" 
            :rules="drawerRules">
            <el-form-item label="表名：" prop="name">
                <el-input v-model="drawerData.name" placeholder="例如：mk_app_ceshi_product"></el-input>
            </el-form-item>
            <el-form-item label="表标题：" prop="title">
                <el-input v-model="drawerData.title" placeholder="例如：产品"></el-input>
            </el-form-item>
            <el-form-item label="权限排序：" prop="sort">
                <el-input v-model="drawerData.sort" type="number"  min="0"></el-input>
            </el-form-item>
            <el-form-item label="表单标题宽度：" prop="form_label_width">
                <el-input v-model="drawerData.form_label_width" type="number" min="100"></el-input>
            </el-form-item>
            <el-form-item label="表单栅格布局：" prop="form_col_md">
                <el-radio-group v-model="drawerData.form_col_md">
                    <el-radio :label="24">1&nbsp;/&nbsp;1</el-radio>
                    <el-radio :label="12">1&nbsp;/&nbsp;2</el-radio>
                    <el-radio :label="8">1&nbsp;/&nbsp;3</el-radio>
                    <el-radio :label="6">1&nbsp;/&nbsp;4</el-radio>
                    <el-radio :label="4">1&nbsp;/&nbsp;6</el-radio>
                    <el-radio :label="2">1&nbsp;/&nbsp;12</el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="表格树形布局：" prop="table_tree">
                <el-switch v-model="drawerData.table_tree" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
            <el-form-item v-if="drawerData.table_tree == 1" label="表格树形展开：" prop="table_expand">
                <el-switch v-model="drawerData.table_expand" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
            <el-form-item label="表格数据导出：" prop="table_export">
                <el-switch v-model="drawerData.table_export" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
            <el-form-item label="表格默认排序：" prop="table_sort">
                <el-select v-model="drawerData.table_sort">
                    <el-option value="" label="不默认排序"></el-option>
                    <el-option
                        v-for="(item, index) in drawerData.field"
                        :value="item.prop"
                        :label="item.label">
                    </el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="表格每页个数：" prop="table_page_size">
                <el-input v-model="drawerData.table_page_size" type="number" min="1"></el-input>
            </el-form-item>
            <el-form-item prop="table_operation_width">
                <template v-slot:label>
                    <el-tooltip content="表格操作栏宽度，0代表自动宽度" placement="top">
                        <i>表格操作宽度：</i>
                    </el-tooltip>
                </template>
                <el-input v-model="drawerData.table_operation_width" type="number" min="0"></el-input>
            </el-form-item>
            <el-form-item label="表格分类查询：" prop="search_catalog">
               <el-parameter v-model="drawerData.search_catalog" :rank="false" :push="false"></el-parameter>
            </el-form-item>
            <el-form-item label="表格状态查询：" prop="search_status">
               <el-parameter v-model="drawerData.search_status" :rank="false" :push="false"></el-parameter>
            </el-form-item>
            <el-form-item label="表格关键词查询：" prop="search_keyword">
               <el-switch v-model="drawerData.search_keyword" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
            <el-form-item label="表格日期查询：" prop="search_date">
               <el-switch v-model="drawerData.search_date" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
            <el-form-item label="URL预览模式：" prop="preview">
               <el-switch v-model="drawerData.preview" :active-value="1" :inactive-value="0"></el-switch>
            </el-form-item>
        </el-form>
    </el-tab-pane>
</el-tabs>